html, body {
    padding: 0;
    margin: 0;
}

#viewDiv {
    height: 80vh;
    padding: 50px 0px 0px 0px;
}

.stats {
    display: inline-block;
    padding: 80vh 0px 0px 0px;
    width: 100%;
}

.infographic {
    display: inline-block;
    height: 20vh;
    width: calc(50vw - 2px);
    padding: 10px;
    background-color: #353535;
    color: #ffffff;
    text-align: center;
}

.infoH {
    font-size: 25pt;
}

.infoF {
    font-size: 25pt;
}

#arrivals {
    font-size: 32pt;
    font-weight: bold;
}

#departures {
    font-size: 32pt;
    font-weight: bold;
}